<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >Genome Downloader</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body class="font-sans h-full">
  <div class='w-full h-screen bg-no-repeat bg-cover' 
       style="background-image: url({{url_for('static',filename='images/background.jpg')}})">

    {% block body %}{% endblock %}
  </div>

</body>

</html>



